:root {
	--color-black: #222;
	--color-white: #FAFAFA;

	--color-yellow: #FFE66D;
	--color-red: #FF6B6B;
	--color-teal: #48C4BB;
	--color-purple: #6469B1;

	--font-body: 'Your Family', sans-serif;
	--font-heading: sans-serif;

	--font-level-1: 7rem;
	--font-level-2: 1rem;
	--font-level-3: 1rem;
	--font-level-4: 2rem;
	--font-level-5: 1.75rem;
	--font-level-6: 1.5rem;
	--font-level-body: 1.125rem;

	--font-weight-thin: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-black: 900;

	--line-height-heading: 1.2;
	--line-height-body: 1.5;
	--line-height-quote: 1.5;
	--line-height-ui: 1;

	--letter-spacing-heading: 0.01ch;
	--letter-spacing-body: 0.02ch;

	--space-1: 1rem;
	--space-2: 2rem;
	--space-3: 3rem;
	--space-4: 6rem;
	--space-5: 9rem;
	--space-6: 15rem;
	--space-7: 24rem;
	--space-8: 39rem;
	--space-9: 63rem;

	--flow-space: 1.2em;

	--gap: 1rem;
}
